Repository newrelic-experimental/nr-students-edition: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

refactor: clean up the code
  package-lock.json
  package.json
  src/functions/auth.ts
  src/functions/get-user-data.ts
  src/utils/errors.ts
  src/utils/http/request.ts
Due: eslint --cache --fix, prettier --write

chore: added readme
  README.md
  package-lock.json
  package.json
Due: prettier --write

chore: updated package version
  package.json
Due: none

feat: extended state table and improved auth lambda
  README.md
  package-lock.json
  package.json
  src/functions/auth.ts
  src/types/state.ts
  src/utils/database/database.ts
Due: eslint --cache --fix, prettier --write

feat: created full redirect to form lambda process
  package-lock.json
  package.json
  src/functions/get-user-data.ts
  src/types/person.ts
  src/utils/database/database.ts
  src/utils/http/request.ts
Due: eslint --cache --fix, prettier --write

feat: changed saving lambda to updating lambda
  serverless.yml
  src/functions/save.ts
  src/utils/database/database.ts
Due: eslint --cache --fix, prettier --write

test: adjusted tests to new model
  src/utils/database/database.ts
  tests/fixtures/student.ts
Due: eslint --cache --fix, prettier --write

feat: added additional github call for id
  package-lock.json
  package.json
  src/config.ts
  src/functions/get-user-data.ts
  src/types/person.ts
  src/utils/database/database.ts
Due: eslint --cache --fix, prettier --write

feat: added github id for lambdas
  package-lock.json
  package.json
  src/functions/auth.ts
  src/functions/get-user-data.ts
  src/types/person.ts
  src/utils/converters/entity-converter.ts
  src/utils/database/database.ts
  src/utils/http/request.ts
Due: eslint --cache --fix, prettier --write

feat: added remove lambda
  serverless.yml
  src/functions/delete-on-cancel.ts
  src/functions/get-user-data.ts
  src/utils/database/database.ts
Due: eslint --cache --fix, prettier --write

test: updated student fixtures
  tests/fixtures/student.ts
Due: eslint --cache --fix, prettier --write

chore: updated documentation for students edition
  README.md
  package-lock.json
  package.json
Due: prettier --write

refactor: added status codes from the library
  src/functions/check-validation-status.ts
  src/functions/delete-on-cancel.ts
  src/functions/get-user-data.ts
  src/functions/save.ts
Due: eslint --cache --fix, prettier --write

refactor: changed method name to more readable
  src/utils/http/request.ts
Due: eslint --cache --fix, prettier --write

refactor: removed console logs
  src/utils/http/request.ts
Due: eslint --cache --fix, prettier --write

refactor: clean up the code
  src/functions/get-user-data.ts
  src/types/domains.ts
Due: eslint --cache --fix, prettier --write

refactor: removed unnecessary print event
  src/functions/get-user-data.ts
Due: eslint --cache --fix, prettier --write

chore: bumped package version
  package.json
Due: none

feat: handled case when user cancel verification on github step
  package-lock.json
  package.json
  src/functions/get-user-data.ts
  src/utils/errors.ts
Due: eslint --cache --fix, prettier --write

fix: take off invalid pattern checking
  package-lock.json
  package.json
  src/types/person.ts
  tests/types/person.spec.ts
Due: eslint --cache --fix, prettier --write

feat: added account type to entity
  src/functions/auth.ts
  src/types/account-type.ts
  src/types/state.ts
Due: eslint --cache --fix, prettier --write

feat: handled using account type in states
  src/functions/auth.ts
  src/types/account-type.ts
  src/types/state.ts
  src/utils/database/database.ts
Due: eslint --cache --fix, prettier --write

feat: adapted check lambda for account type
  src/functions/check-validation-status.ts
  src/functions/get-user-data.ts
  src/types/database.ts
  src/types/person.ts
Due: eslint --cache --fix, prettier --write

test: updated tests
  tests/fixtures/student.ts
Due: eslint --cache --fix, prettier --write

feat: added saving data from form for the teacher
  package-lock.json
  package.json
  src/functions/get-user-data.ts
  src/types/github.ts
  src/utils/http/request.ts
Due: eslint --cache --fix, prettier --write

chore: updated version of package
  package.json
Due: none

feat: added account type to pre user save
  package-lock.json
  package.json
  src/functions/get-user-data.ts
  src/utils/database/database.ts
Due: eslint --cache --fix, prettier --write

chore: bumped version
  package.json
Due: none

fix: added missing account type fields
  package-lock.json
  package.json
  src/functions/check-validation-status.ts
  src/functions/get-user-data.ts
  src/utils/converters/entity-converter.ts
  src/utils/database/database.ts
Due: eslint --cache --fix, prettier --write

feat: added simple validation history lambda code
  src/functions/validation-history.ts
  src/types/person.ts
  src/types/validation-history.ts
Due: eslint --cache --fix, prettier --write

chore: updated packages
  package-lock.json
  package.json
Due: none

chore: added lambda definition to the serverless configuration
  serverless.yml
Due: none

feat: added filtering column check method
  src/utils/database/sql.ts
Due: eslint --cache --fix, prettier --write

feat: added validation of request to validation history lambda
  src/functions/validation-history.ts
  src/types/validation-history.ts
Due: eslint --cache --fix, prettier --write

feat: added sql query builder
  src/functions/validation-history.ts
  src/utils/database/sql.ts
  tests/utils/sql.spec.ts
Due: eslint --cache --fix, prettier --write

feat: added query creators
  package-lock.json
  package.json
  src/functions/validation-history.ts
  src/types/database.ts
  src/utils/database/sql.ts
  tests/fixtures/sql-fixtures.ts
  tests/fixtures/validation-history-fixtures.ts
  tests/utils/sql.spec.ts
Due: eslint --cache --fix, prettier --write

feat: added get validation history query
  package-lock.json
  package.json
  src/utils/database/database.ts
Due: eslint --cache --fix, prettier --write

feat: created validation history lambda skeleton
  package-lock.json
  package.json
  serverless.yml
  src/functions/validation-history.ts
  src/types/database.ts
  src/utils/database/database.ts
Due: eslint --cache --fix, prettier --write

feat: added return data
  src/functions/validation-history.ts
Due: eslint --cache --fix, prettier --write

fix: added missing sorting column
  package-lock.json
  package.json
  src/functions/validation-history.ts
  src/utils/database/sql.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,css,md}
